<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Exchange Component</div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p> Last Updated: {{timestamp}}</p>
                                <select v-model="chosenBase"  @change="baseSymbolChanged()"  class="form-control">
                                    <option  disabled  value="not chosen">Choose currency</option>
                                    <option   v-if="chosenBase === 'EUR'" value="EUR">EUR</option>
                                    <option   v-for="(value, symbol) in rates" :value="symbol">{{symbol}}</option>
                                </select>

                            </div>
                            <div  class="col-md-6">
                                <p v-if="error == ''">Target Currency: {{chosenBase}} </p>
                                <select v-model="chosenCurrency"  @change="targetCurrencyChanged()"  class="form-control">
                                    <option  disabled  value="not chosen">Choose currency</option>
                                    <option   v-if="chosenCurrency === 'USD'" value="USD">USD</option>
                                    <option   v-for="(value, symbol) in rates" :value="symbol">{{symbol}}</option>
                                </select>

                            </div>
                        </div>

                    </div>

                </div>

                    <currency-chart
                        :chart-data="chartData"
                        :height="300"
                        :options="{responsive: true, maintainAspectRation: true}">

                    </currency-chart>


            </div>
        </div>
    </div>
</template>

<script>

    import CurrencyChart from './CurrencyChart.js'
    import Vue from 'vue'
    const moment = require('moment');
    require('moment/locale/ru');

    Vue.use(require('vue-moment'), {
        moment
    });

    let curDate = moment().toISOString();
    // dateF1 = moment(date1).format('MM/DD/YYYY');
    export default {
        components: {
            CurrencyChart
        },
        data: function() {
            return {
                chartData: [],
                symbols: {},
                chosenBase: 'EUR',
                chosenCurrency: 'USD',
                timestamp: '',
                error: '',
                rates:'',
                dateEnd: moment().format('YYYY-MM-DD'),
                dateStart: moment().subtract(30, 'day').format('YYYY-MM-DD'),
            }
        },
        mounted() {
            console.log('Exchange Component mounted.');
            this.refreshChart();
            this.getRates();
            this.getRatesForPeriod();
        },
        methods: {
            refreshChart: function(){
                axios.get('/chart-refresh', {
                    params: {
                        base: this.chosenBase,
                        dateStart: this.dateStart,
                        dateEnd: this.dateEnd,
                        symbols: this.chosenCurrency,
                    }
                }).then((response) => {
                    console.log(response.data);
                    this.chartData = response.data;
                });

            },


            getRates: function () {
                axios.get('/get-rates', {
                    params: {
                        base: this.chosenBase
                    }
                }).then((response) => {
                        this.timestamp = response.data.date;
                        this.error = '';
                        this.rates = response.data.rates;
                });
            },

            getRatesForPeriod: function () {
                axios.get('/get-rates-period', {
                    params: {
                        base: this.chosenBase,
                        dateStart: this.dateStart,
                        dateEnd: this.dateEnd,
                        symbols: this.chosenCurrency,
                    }
                }).then((response) => {
                    console.log(response.data.rates);
                    //this.chartData =
                });
            },




            baseSymbolChanged: function () {
                this.getRates();
                this.getRatesForPeriod();
                this.refreshChart();
            },

            targetCurrencyChanged: function () {
                this.getRatesForPeriod();
                this.refreshChart();
            }
        }
    }
</script>
